*{
    color: #4D455D;
    font-family: 'Nova Flat';
}

#gridbox {
    width: 640px;
    height: 640px;
    background: rgb(255, 255, 255);
    border: solid 3px #4D455D;
    border-radius: 5px;
    display: grid;
    /*repeat(number of columns/rows, the column width we want);
    1fr is 1 fraction of number of col/row vs width/height*/
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

#colorpicker{
    width: 250px;
    height: 50px;
}

.label{
    padding-bottom: 10px;
}

.box {
    border: 1px solid black;
    box-sizing: border-box;
}

.menu {
    background-color: #7DB9B6;
    border: solid 4px #4D455D;
    border-radius: 5px;
    width: 320px;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main{
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menuitem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #F5E9CF;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

h1{
    text-align: center;
    font-size: 4rem;
}

button{
    width: 250px;
    height: 50px;
    font-size: 20px;
}

/* RANGE SLIDER */
.slider {
    -webkit-appearance: none;
    width: 250px;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.85;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #E96479;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E96479;
    cursor: pointer;
  }

  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }